html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.articlesHeader {
  background-color: rgb(197, 52, 47);
}

.login {
  width: 50%;
}

.articles {
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.alt {
  display: none;
}

.addComment {
  max-width: 500px;
}

.topArticles {
  margin-top: 1em;
  max-width: 800px;
  border: 1px;
  border: solid;
  border-color: #17a2b8;
  border-radius: 10px;
}

.addArticle {
  margin-top: 1em;
  max-width: 650px;
  border: 1px;
  border: solid;
  border-color: #17a2b8;
  border-radius: 10px;
}

.bottomMargin {
  margin-bottom: 1em;
}

.bottomMarginHalf {
  margin-bottom: 0.5em;
}

.rightMargin {
  margin-right: 1em;
}

.articleBody {
  margin-top: 1em;
  margin-bottom: 1em;
}

.addArticleHeader {
  background-color: #17a2b8;
  margin-bottom: 1em;
  -webkit-text-fill-color: white;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.addCommentHeader {
  background-color: #007bff;
  -webkit-text-fill-color: white;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.addCommentContainer {
  margin-top: 1em;
  max-width: 650px;
  border: 1px;
  border: solid;
  border-color: #007bff;
  border-radius: 10px;
}

.commentDivider {
  border-top: 1px;
  border-top: solid;
  border-top-color: #007bff;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 780px) {
  .columns {
    display: none;
    width: 1%;
  }

  .title {
    width: 80%;
  }

  .alt {
    display: block;
  }
  .preview {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .topicFilter {
    display: none;
  }
}
